<!--<div *ngFor="let tweet of listaTweets" class="example-card">
    <p>
    <br>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{tweet.autor}}</mat-card-title>
          <mat-card-subtitle>{{tweet.fecha}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{tweet.texto}}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </p>
</div>
<br>



<div class="twe">
    <label style="font-weight: bold;"> Tweet </label>
    <input type="text" [(ngModel)]= "nuevotweet.texto" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
    <label style="font-weight: bold;"> Autor </label>
    <input type="text" [(ngModel)]= "nuevotweet.autor" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
    <label style="font-weight: bold;"> Fecha </label>
    <input type="text" [(ngModel)]= "nuevotweet.fecha" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
<button (click)="adicionartweet()" class="btn1">Agregar Tweet</button>

</div>-->