<div *ngFor="let tweet of listaTweets" class="publicacion">
    <div class="titulo">
    <label>Tweet</label>
    </div>
    <hr>     
    <h2 style="height: 200px;"> {{tweet.texto}} </h2>
    <div class="autor">
        <hr>
        <label> Autor: {{tweet.autor}} </label>
    </div>
    <div class="fecha">
        <label> Fecha: {{tweet.fecha}} </label>
    </div>
</div>
<br>



<div class="twe">
    <label style="font-weight: bold;"> Tweet </label>
    <input type="text" [(ngModel)]= "nuevotweet.texto" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
    <label style="font-weight: bold;"> Autor </label>
    <input type="text" [(ngModel)]= "nuevotweet.autor" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
    <label style="font-weight: bold;"> Fecha </label>
    <input type="text" [(ngModel)]= "nuevotweet.fecha" style="width: 500px; height: 20px; border-radius: 50px;">
    <br>
    <br>
<button (click)="adicionartweet()" class="btn1">Agregar Tweet</button>

</div>